.card{
    width: 300px;
    flex: 0 0 auto;
   
}
.container-cards{
    overflow-x: scroll;
    display: flex;
}
.description, .singleTitle{
    text-align: center;
    margin: 30px;
}
.title, .text{
    color: rgb(170, 36, 36);
}

.line{
   
    border-color: rgb(170, 36, 36);;
}
.singleImg{
    width: 600px;
    height: 500px;
    margin-right: 20px;
}